*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF455;
}

.border_box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.30fr;
}

.sidebar{
    background-color: #FFC700;
    height: 100vh;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
}

.title_wrapper{
    padding: 35px 50px 35px 50px;
}

.title{
    color: #EE4E4E;
    font-size: 48px;
}

.navbar_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar_wrapper > div{
    display: flex;
    justify-content: space-evenly;
}

.navbar_wrapper > div:nth-of-type(2){
    padding-right: 92px;
}

.navbar_wrapper > div > a{
    color: #EE4E4E;
    font-size: 30px;
}

a{
    text-decoration: none;
}

.decorate_underline{
    text-decoration: underline;
}


.sidebar_header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 30px 0;
}

.sidebar_header > p{
    color: white;
    font-size: 3em;
}

.achievements_wrapper{
    padding: 10px 5px;
}

.achievement_icon{
    width: 60px;
    height: 60px;
}

.no_achievement_p{
    color: white;
    font-size: 1.2em;
}

.icons_container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}